body {
  background-color: #EAF6F6
}

h1 {
  color: #7900FF;
}

h3 {
  color: #66BFBF;
}

hr {
  background-color: #B983FF;
  border-style: none;
  /* border-top-style: dotted;
  border-color: grey;
  border-width: 5px; */
  height: 2px;
  /* width: 5% */
